<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="input w-100">
        <label for="title" class="d-block w-100">Title</label>
        <br>
        <input type="text" name="title" class="w-100 d-block" style="width: 100%;">
    </div>

    <div class="input w-100">
        <label for="description" class="d-block">Description</label>
        <br>
        <textarea name="description" id="" cols="30" rows="10"class="w-100" style="width: 100%;"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">PUBLISH</button>
</form>

<%- include('partials/footer'); -%>